BasedOnStyle: LLVM
ColumnLimit: 95
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
AlignOperands: Align
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
SortIncludes: false
IndentCaseLabels: false
AllowAllArgumentsOnNextLine: true
PenaltyBreakBeforeFirstCallParameter: 200
PenaltyReturnTypeOnItsOwnLine: 1000
